
typewrinte(Text, "Loading...")
wait(1)
typewrinte(Text, "")
wait(1)
typewrinte(Text, "Loading...")
wait(1)
typewrinte(Text, "")
wait(1)
BarFrame:TweenSize(UDim2.new(0, 60,0, 15))

typewrinte(Text, "Checking...")
wait(1)
typewrinte(Text, "")
wait(1)
typewrinte(Text, "Checking...")
wait(1)
typewrinte(Text, "")
wait(1)
wait(1)
BarFrame:TweenSize(UDim2.new(0, 80,0, 15))

typewrinte(Text, "Checking...")
wait(1)
typewrinte(Text, "")
wait(1)
typewrinte(Text, "Checking...")
wait(1)
typewrinte(Text, "")
wait(1)
wait(1)
BarFrame:TweenSize(UDim2.new(0, 100,0, 15))
typewrinte(Text, "Authorising...")
wait(1)
typewrinte(Text, "")
wait(1)
typewrinte(Text, "Authorising...")
wait(1)
typewrinte(Text, "")
wait(1)
wait(1)
BarFrame:TweenSize(UDim2.new(0, 160,0, 15))
typewrinte(Text, "Authorising...")
wait(1)
typewrinte(Text, "")
wait(1)
typewrinte(Text, "Authorising...")
wait(1)
typewrinte(Text, "")
wait(1)
wait(1)
BarFrame:TweenSize(UDim2.new(0, 200,0, 15))
typewrinte(Text, "Checking...")
wait(1)
typewrinte(Text, "")
wait(1)
typewrinte(Text, "Checking...")
wait(1)
typewrinte(Text, "")
wait(1)
wait(1)
BarFrame:TweenSize(UDim2.new(0, 250,0, 15))
typewrinte(Text, "Checking...")
wait(1)
typewrinte(Text, "")
wait(1)
typewrinte(Text, "Checking...")
wait(1)
typewrinte(Text, "")
wait(1)
BarFrame:TweenSize(UDim2.new(0, 300,0, 15))
typewrinte(Text, "Loading...")
wait(1)
typewrinte(Text, "")
wait(1)
typewrinte(Text, "Loading...")
wait(1)
typewrinte(Text, "")
wait(1)
BarFrame:TweenSize(UDim2.new(0, 320,0, 15))
typewrinte(Text, "Loading...")
wait(1)
typewrinte(Text, "")
wait(1)
typewrinte(Text, "Loading...")
wait(1)
typewrinte(Text, "")
wait(1)
